<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>

<body>
<!-- Tableau de réservations -->
                <table class="table table-hover text-center mt-2">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Numéro de badge</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Produit réservé</th>
                            <th scope="col">Formule</th>
                            <th scope="col">Payé</th>
                            <th scope="col">Récupéré</th>
                        </tr>
                    </thead>
                    <tbody>

                    {% for reservation in to_display %}
                        <tr>
                            <th scope="row" class="align-middle">{{ reservation['id'] }}</th>
                            <td class="align-middle">{{ reservation['badge_number'] }}</td>
                            <td class="align-middle">{{ reservation['name'] }}</td>
                            <td class="align-middle">{{ reservation['product_name'] }} {{ reservation['date'] }}</td>
                            <td class="align-middle">
                                <span class="badge badge-light">Formule</span>
                            </td>
                            <td class="align-middle">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch{{ reservation['id'] }}">
                                    <label class="custom-control-label" for="customSwitch{{ reservation['id'] }}"></label>
                                </div>
                            </td>
                            <td class="align-middle">
                                <button type="button" class="btn btn-primary">Récupéré</button>
                            </td>
                        </tr>

                        {% endfor %}

                    </tbody>
                </table>

</body>
</html>




