<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>

<body>
<!-- Tableau de réservations -->
<table class="table table-hover text-center mt-2">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Num. badge</th>
        <th scope="col">Nom</th>
        <th scope="col">Produit réservé</th>
        <th scope="col">Formule</th>
        <th scope="col">Payé</th>
        <th scope="col">Date de récupération</th>
        <th scope="col">Récupéré</th>
    </tr>
    </thead>
    <tbody>

    {% for reservation in to_display %}
        <tr>
            <th scope="row">{{ reservation['id'] }}</th>
            <td>{{ reservation['badge_number'] }}</td>
            <td>{{ reservation['name'] }}</td>
            <td>{{ reservation['product_name'] }}</td>
            <td>
                <span class="badge badge-light">Formule</span>
            </td>
            <td>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch{{ reservation['id'] }}">
                    <label class="custom-control-label" for="customSwitch{{ reservation['id'] }}"></label>
                </div>
            </td>
            <td>
                {{ reservation['collect_date'] }}<br/> {{ reservation['collect_time'] }}
            </td>
            <td>
                <button type="button" class="btn btn-primary">Récupéré</button>
            </td>
        </tr>

    {% endfor %}

    </tbody>
</table>
</body>
</html>




