<!DOCTYPE html>
{% macro display_if(cond, display) %}
{% if cond %} {{ display }}{% endif %}
{% endmacro %}
<html>
<head>
    <meta charset="UTF-8">
</head>

<body>
<div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">

        <form class="needs-validation" method="post" novalidate name="reservation_form">
            <input name="reservation_collect_date" type="hidden"
                   value="{% if reservation==None %}2020-03-06{% else %}{{ reservation.collect_date }}{% endif %}"/>
            <input name="reservation_id" type="hidden"
                   value="{% if reservation==None %}0{% else %}{{ reservation.id }}{% endif %}"/>
            <div class="modal-header">
                <h5 class="modal-title" id="itemModalTitle">{% if reservation==None %}Nouvelle réservation{% else %}
                    Modification de réservation{% endif %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="itemModalBody" class="modal-body">
                <div class="form-group row">
                    <label for="reservation_user_name_search" class="col-sm-3 text-right col-form-label">Nom de famille</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" oninput="update_user_selection()"
                               id="reservation_user_name_search">
                    </div>
                    <div id="reservation_user_selector" class="col-sm-5">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label text-right">Produit réservé</label>
                    <div id="reservation_product_selector" class="col-sm-9">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label text-right">Formule</label>
                    <div class="btn-group btn-group-toggle col-sm-4" data-toggle="buttons">
                        <label class="btn btn-outline-info{{ display_if(not reservation.pack,'active') }}">
                            <input onchange="update_price_displayed_reservation_form()" type="radio" name="reservation_pack" value="no-pack"{{ display_if(not reservation.pack,'checked') }}>Produit seul
                        </label>
                        <label class="btn btn-outline-info{{ display_if(reservation.pack,'active') }}">
                            <input onchange="update_price_displayed_reservation_form()" type="radio" value="pack" name="reservation_pack"{{ display_if(reservation.pack,'checked') }}>Formule
                        </label>
                    </div>
                    <label class="col-sm-2 col-form-label text-right">Prix</label>
                    <label class="col-sm-3  col-form-label" id="reservation_price">{{ price }}</label>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label text-right">Paiement</label>
                    <div class="btn-group btn-group-toggle col-sm-4" data-toggle="buttons">
                        <label class="btn btn-outline-info{{ display_if(not reservation.paid,'active') }}">
                            <input type="radio" name="reservation_paid" value="not-paid"{{ display_if(not reservation.paid,'checked') }}>Non encaissé
                        </label>
                        <label class="btn btn-outline-info{{ display_if(reservation.paid,'active') }}">
                            <input type="radio" name="reservation_paid" value="paid"{{ display_if(reservation.paid, 'checked') }}>Encaissé
                        </label>
                    </div>
                </div>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
        </form>
    </div>
</div>


<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.classList.add('was-validated');
        }, false);
    });

</script>


</body>
</html>








