<!doctype html>
<html lang="en">


{% macro set_active_if(variable, name) %}
    {% if variable == name %} active{% endif %}
{% endmacro %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}">

    <title>Hello, world!</title>
</head>

<body>
<div class="row">
    <div class="col-3 blue pl-4 pt-1">
        Raphaël Hamon<br/>0386262728<br/>Administrateur
    </div>
    <div class="col-9 logo"></div>

</div>
<div class="row">
    <div class="col-3 blue">
        <div class="nav flex-column nav-pills text-right" id="v-pills-tab" role="navigation"
             aria-orientation="vertical">
            <a href="{{ url_for("today_reservations") }}">Test</a>
            <a class="nav-link{{ set_active_if(active_page, "today_reservations") }}" id="v-pills-home-tab"
               href="{{ url_for("today_reservations") }}"
               aria-controls="v-pills-home" aria-selected="true">Réservations du jour</a>
            <a class="nav-link{{ set_active_if(active_page, "old_reservations") }}" id="v-pills-profile-tab"
               href="{{ url_for("old_reservations") }}"
               aria-controls="v-pills-profile" aria-selected="false">Réservations passées</a>
            <a class="nav-link{{ set_active_if(active_page, "future_reservations") }}" id="v-pills-messages-tab"
               href="{{ url_for("future_reservations") }}"
               aria-controls="v-pills-messages" aria-selected="false">Réservations à venir</a>
            <a class="nav-link{{ set_active_if(active_page, "products_management") }}" id="v-pills-settings-tab"
               href="{{ url_for("products_management") }}"
               aria-controls="v-pills-settings" aria-selected="false">Produits</a>
        </div>
    </div>
    <div id="table-content" class="col-9">
        {% block content %}
        {% endblock %}
    </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="errorBox" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="errorBoxTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="errorBoxBody" class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="errorButton" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<script src="{{ url_for("static", filename="script/script.js") }}"></script>
    <script>
        $(function () {
            set_active_page("{{ active_page }}")
            refresh("{{ active_page }}")
        })
    </script>
</body>

</html>